:root {
    --bg-main: #f9fafb;
    --bg-card: #ffffff;
    --bg-muted: #f3f4f6;

    --text-primary: #111827;
    --text-secondary: #6b7280;

    --border-color: #e5e7eb;
    --accent-blue: #2563eb;

    --input-bg: #ffffff;
}

/* DARK MODE */
[data-theme="dark"] {
    --bg-main: #0f172a;
    --bg-card: #0f172a;
    --bg-muted: #020617;

    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;

    --border-color: #1e293b;
    --accent-blue: #3b82f6;

    --input-bg: #020617;
}

.aichart-header {
    background: linear-gradient(135deg, var(--blue-primary) 0%, #00f2fe 100%);
    padding: 2.75rem;
    border-radius: 1rem;
    margin-bottom: 1.8rem;
    color: white;
    box-shadow: 0 12px 30px rgba(79, 172, 254, 0.25);
    width: 100%;
    max-width: 1200px;
    align-self: center;
}